<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista de Plantas</title>
</head>
<body>

<h1>Lista de Plantas</h1>

<a th:href="@{/vista/nueva}">Agregar Nueva Planta</a>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Cuidados</th>
    <th>Familia</th>
    <th>Acciones</th>
  </tr>

  <tr th:each="planta : ${plantas}">
    <td th:text="${planta.id}"></td>
    <td th:text="${planta.nombre}"></td>
    <td th:text="${planta.descripcion}"></td>
    <td th:text="${planta.cuidados}"></td>
    <td th:text="${planta.familia}"></td>
    <td>
      <a th:href="@{'/vista/editar/' + ${planta.id}}">Editar</a>
      <a th:href="@{'/vista/eliminar/' + ${planta.id}}">Eliminar</a>
    </td>
  </tr>
</table>

</body>
</html>